page-programacao-22 {
  segment-button {
      font-size: 4.1rem;
      font-weight: bold;
  }

  .programacao-22-lista-principal ion-item-divider{
    text-align: center;
    height: 18px;
  }

  .programacao-22-lista-principal ion-note{
    font-size: 14px;
  }

  .programacao-22-listas-individuais ion-note{
    font-size: 14px;
  }

}
